    * {
        font-family: Arial, Helvetica, sans-serif;
    }
    
    #titulo {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: blue;
        font-size: 4rem;
        text-align: end;
        align-self: center;
        padding: 1rem;
        font-weight: bolder;
    }
    
    header {
        background-image: url('/Users/mariacristinamotoc/Desktop/ITAcademy/M2.-HTML_CSS/img/aspie1.jpg');
        background-size: cover;
        background-position: center;
        display: grid;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 25em;
    }
    
    .botones {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }
    
    aside {
        font-weight: bold;
        font-size: 1rem;
        background-color: lightgrey;
        float: left;
        margin-left: 10;
        margin-right: 10;
    }
    
    .menu {
        list-style-type: none;
        font-weight: bold;
        font-size: 1.2rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-right: 1.5rem;
    }
    
    p {
        margin: auto;
        padding: auto;
    }
    
    .parrafo {
        margin: 0.3rem;
    }
    
    a {
        color: blue;
    }
    
    input {
        color: blue;
        font-size: 1rem;
        font-weight: bold;
    }
    
    h3 {
        background-color: lightgray;
    }
    
    article {
        background-color: lightgray;
        color: black;
        margin-right: 1.5rem;
        margin-left: 12.5rem;
    }
    
    #commentaries {
        margin-top: 1rem;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-wrap: nowrap;
    }
    
    textarea {
        font-size: 1.3rem;
    }
    
    footer {
        margin-top: 2rem;
        margin-bottom: 2rem;
        display: flex;
        justify-content: space-around;
        color: black;
        font-size: 2rem;
    }