    * {
        font-family: Arial, Helvetica, sans-serif;
    }
    
    #titulo {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: white;
        font-size: 70px;
        text-align: end;
        align-self: center;
        padding: 20px;
        font-weight: bolder;
    }
    
    header {
        background: url('./poze/aspie1.jpg') no-repeat center center/cover;
        display: grid;
        margin-left: auto;
        margin-right: auto;
        width: 1220px;
        height: 450px;
    }
    
    .botones {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }
    
    aside {
        font-weight: bold;
        font-size: 18 px;
        background-color: lightgrey;
        float: left;
        margin-left: 10;
        margin-right: 10;
    }
    
    .menu {
        list-style-type: none;
        font-weight: bold;
        font-size: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background-color: lightgrey;
        margin-right: 25px;
        margin-left: 200px;
    }
    
    p {
        margin: auto;
        padding: auto;
    }
    
    .parrafo {
        margin: 5px;
    }
    
    a {
        color: blue;
    }
    
    input {
        color: blue;
        font-size: 15px;
        font-weight: bold;
    }
    
    h3 {
        background-color: lightgray;
    }
    
    article {
        background-color: lightgray;
        color: black;
        margin-right: 25px;
        margin-left: 200px;
    }
    
    .comentarios {
        display: grid;
        justify-content: flex-end;
        align-self: left;
    }
    
    textarea {
        font-size: 20px;
    }
    
    footer {
        display: flex;
        justify-content: space-around;
        color: black;
        font-size: 30px;
    }